html, body {
  margin: 0;
  padding: 0;
  font-family: 'proxima-nova', sans-serif;
 }

button {
  border: none;
}

h1 {
  margin: 10px;
}

h2 {
  font-size: 1.9em;
  margin: 10px;
  text-decoration: underline;
  text-decoration-color: orange;
}
 
.header {
  display: flex;
  background-color: cornflowerblue;
  color: white;
  width: 100%;
  height: 70px;
  align-items: center;
  justify-content: stretch;
  flex-flow: row nowrap;
  align-content: flex-end;
}

#search {
  flex: 1.5;
  height: 20px;
}

.menuButton {
  font-size: 2vh;
  flex: 1;
  display: flex;
  justify-content: center;
}

.logo {
  max-width: 100%;
  max-height: 70px;
}

.purchase-wrapper {
  display: flex;
  flex-flow: row wrap; 
  justify-content: space-around;
  margin-bottom: 1rem;
}

.product-pictures {
  align-items: center;
  display: flex;
  flex-flow: row nowrap; 
}

.hide {
  display: none;
}

.crop {
  max-width: 100%;
  max-height: 100%;
}

.circles {
  padding: 0;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  max-width: 15px;
  max-height: 15px;
}

.select {
  box-sizing: border-box;
  /* outline: 3px solid darkgray; */
  box-shadow: 0px 0px 0px 3px darkgrey;
  background-color: orange;
}

.arrow-button {
  min-height: 2rem;
  margin: .3rem 0;
}

.rotated {
  transform: rotate(90deg);
}

.product-words {
  display: flex;
  flex-flow: column nowrap;
  align-items: space-around;
  max-width: 50vw;
}

.selection-hor {
  display: flex;
  flex-flow: row wrap;
  align-content: space-between;
  
}

.selection-vert {
  display: flex;
  flex-flow: column nowrap;
  align-content: center;
  justify-content: space-around;
  height: 60%;
}

.selection {
  min-width: 2rem;
  min-height: 2rem;
  margin: .3rem .5rem;
}

.selected {
  outline: 5px solid darkgray;
}

#add-to-cart {
  background-color: orange;
  max-width: fit-content;
  min-height: 2rem;
}

.features {
  box-sizing: border-box;
  width: 100%;
  background-color: darkgray;
  padding: 10px;
}

@media only screen and (max-width: 768px) {
  
  #search {
    flex: 1;
  }
  .product-words {
    max-width: 90vw;
  }
}

@media only screen and (max-device-width: 768px)  {
  
  #search {
    flex: 1;
  }
  .purchase-wrapper {
    flex-flow: column nowrap;
    align-items: center;
  }

  .show {
    display: none;
  }

  .hide {
    display: flex;
  }

  .product-pictures {
    width: 100%;
    justify-content: center;
  }

  .product-words {
    max-width: 90vw;
    align-items: center;
  }

  .selection-hor {
    justify-content: center;
  }

  .crop {
    width: 60vw;
  } 

}

@media only screen and (max-device-width: 480px) {
  .crop {
    width: 80vw;
  }

  h1 {
    font-size: 3vh;
  }

  h2 {
    font-size: 2.5vh;
  }

  h3 {
    font-size: 2vh;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  button {
    font-size: 1vh;
  }

  p {
    font-size: 1vh;
  }

  .menuButton {
    font-size: 1.5vh;
  }
}

